.result-card {
    background-color: #45CFDD26;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    height: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    color: #191970;
  }

  .result-card-content p {
    margin: 5px 0;
  }

  .inline-label {
    display: inline-block;
    margin-left: 10px;
}

.buttons-group {
    display: flex;
    gap: 2vw; /* adjust the spacing as needed */
  }

  .details-button-result {
    margin-top: 20px;
    background-color: #45CFDD;
    color: #191970;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s, color 0.3s;
}

.details-button-result:hover {
  background-color: #191970;
    color: #45CFDD;
}